<div class="gameboard">
    <div class="top-layer"></div>
    <div class="middle-layer">
        <div class="player-two-container"></div>
        <div class="game-center-container">
            <div class="throwed-cards-container">
                <img *ngIf="firestoreService?.onlineGame?.firstCard" [src]="'assets/Cards/' + firestoreService?.onlineGame?.firstCard['card']" alt="" [style.transform]="'rotate(0deg)'" class="firstcard">
                <img *ngFor="let card of firestoreService.game?.throwedCards; let i = index" [src]="'assets/Cards/' + card.card" alt="" [style.transform]="'rotate(' + card.offset + 'deg)'">
            </div>
            <div class="stack-container">
                <img src="assets/d9gnihf-ec16caeb-ec9c-4870-9480-57c7711d844f.png" alt="" (click)="pickCard()">
                <img *ngIf="pickCardAnimation" src="assets/d9gnihf-ec16caeb-ec9c-4870-9480-57c7711d844f.png" alt="" class="animated-card">
            </div>
        </div>
        <div class="player-four-container"></div>
    </div>
    <div class="bottom-layer">
        <div class="my-cards" [ngStyle]="{'width.px': 90 + (41 * myCards?.length)}">
            <img *ngFor="let card of myCards; let i = index" src="assets/Cards/{{ card?.card }}" alt="" [ngStyle]="{'left.px': i * 38 + 10}" id="myCard{{ i }}" [class.throwCard]="card.throw" (click)="checkIfCardThrowable(i)">
        </div>
    </div>
</div>