:root {
    overflow: hidden;
}

.gameboard {
    background-image: url("~src/assets/background-gd67c8c145_1920.jpg");
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden !important;

    img {
        height: 158px;
        width: 105px;
    }

    .uno-calls-container {
        position: absolute;
        left: -148px;
        top: 70px;
        display: flex;
        flex-direction: column;
        // background-color: aliceblue;
        width: 296px;

        .uno-calls,
        .late-calls {
            background-color: rgba(39, 39, 39, 0.456);
            padding-left: 24px;
            padding-right: 24px;
            padding-top: 24px;
            padding-bottom: 24px;
            transition: height 200ms ease-in-out;
            display: flex;
            flex-direction: column;
            
            max-width: 100px;

        }

        .name {
            font-weight: bold;
            width: 100px;
            height: 25px;
            background-color: black;
            color: white;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            overflow: hidden;


            &:active {
                background-color: rgba(212, 55, 55, 0.904);
            }
        }

        .false-call {
            animation: blink 0.25s infinite !important;
        }

        @keyframes blink {

            0%,
            50% {
                background-color: rgba(212, 55, 55, 0.904);
            }

            51%,
            100% {
                background-color: black;
            }
        }

        h2 {
            font-size: 21px;
            margin: 0;
        }
    }

    .uno-btn {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80px;
        height: 80px;
        background-color: black;
        border-radius: 50%;
        cursor: pointer;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 25px;
        margin-bottom: 25px;
        transition: all 0.125s;
        font-weight: bold;

        &:hover {
            transform: scale(1.1);
        }

        &:active {
            background-color: rgba(0, 0, 0, 0.399);
        }
    }

    .time-bar {
        position: absolute;
        animation: timeBar 3s linear forwards;
        height: 15px;
        background-color: black;
        top: 70px;
        color: white;
        display: flex;
        align-items: center;
        font-size: larger;
        overflow: hidden;
        width: 0;
        left: 0;

    }

    @keyframes timeBar {
        from {
            width: 100%;
        }

        to {
            width: 0;
        }

    }

    .top-layer {
        width: 100vw;
        height: 70px;
        background-color: rgba(39, 39, 39, 0.456);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .color-box {
            height: 50px;
            width: 100px;
            background-color: black;
            border-radius: 10px;
            margin-left: 24px;
        }

        .draw-window {
            height: 50px;
            width: 100px;
            background-color: black;
            border-radius: 10px;
            margin-right: 24px;
            color: white;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
        }

        .top-middle-layer {

            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            width: fit-content;

            .next-turn-box {
                height: 50px;
                background-color: rgb(0, 0, 0);
                border-radius: 10px;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                padding: 0 15px;

            }
        }

    }

    .middle-layer {

        .game-center-container {
            display: flex;

            .throwed-cards-container {

                height: 200px;
                width: 200px;
                position: relative;

                img {
                    position: absolute;
                    animation: throwFromBottom 1s ease-out;
                }

                .firstcard {

                    animation: firstcard 1s ease-in-out !important;
                }

                @keyframes throwFromBottom {

                    0% {
                        transform: translateY(1000px) rotate(-10deg) translateX(300px);

                    }
                }

                @keyframes firstcard {
                    0% {
                        transform: translateX(200px);
                    }
                }
            }

            .stack-container {

                img {
                    cursor: pointer;
                    transition: all 125ms ease-in;
                    position: absolute;

                    &:hover {
                        transform: scale(1.05) translateY(-8px);
                    }
                }

                .animated-card {
                    transform: scale(1.05) translateY(-8px);
                    position: absolute;
                    animation: pickCardAnimation 1.5s ease-in-out;
                    z-index: 99;
                }

                @keyframes pickCardAnimation {

                    0% {
                        transform: translateY(0);
                    }

                    10% {
                        transform: translateY(-30%);
                    }

                    100% {
                        transform: translateY(390%);
                    }
                }
            }
        }
    }

    .bottom-layer {


        .my-cards {

            max-width: calc(100vw - 100px);
            overflow-y: hidden;
            overflow-x: hidden;
            position: relative;
            scrollbar-gutter: stable both-edges;
            height: 230px;
            background-color: rgba(250, 235, 215, 0.149);
            transition: all 225ms ease-in-out;

            img {
                position: absolute;
                bottom: 20px;
                transition: all 125ms ease-in;
                cursor: pointer;
                animation: getCardAnimation 1s ease-in-out;

                &:hover {
                    transform: scale(1.15) translateY(-15px);
                }
            }

            .throwCard {
                animation: throwCardAnimation 0.5s ease-in-out forwards !important;
            }
        }

        @keyframes getCardAnimation {

            0% {
                transform: translateY(120%)
            }

            100% {
                transform: translateY(0)
            }
        }

        @keyframes throwCardAnimation {
            0% {
                transform: translateY(0)
            }

            100% {
                transform: translateY(120%)
            }
        }
    }

    .color-wheel-container {
        background-color: rgba(158, 158, 158, 0.594);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        // animation: fade-in 0.5s ease-in forwards;

        h1 {
            margin: 0;
            margin-bottom: 25px;
        }

        .color-wheel {
            margin: 10px 20px;
            padding: 25px 25px;
            border-radius: 20px;
            background-color: black;
            color: white;
            text-align: center;

            .wheel-container,
            .animated-wheel-container {
                display: flex;
                flex-direction: column;

                .top,
                .bottom {
                    display: flex;
                    justify-content: center;
                }

                .color {
                    height: 100px;
                    width: 100px;
                    margin: 7px;
                    cursor: pointer;

                    &:hover {
                        transition: transform ease-in-out 0.125s;
                        transform: scale(1.05);
                        // color: aliceblue !important;
                    }
                }
            }

            .animated-wheel-container {
                animation: turntable 5s linear infinite;

                .color {
                    cursor: auto;

                    &:hover {
                        transform: none !important;
                    }
                }
            }
        }
    }

    @keyframes turntable {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}